.about {
  padding-bottom: 100px;
  font-family: $ff-pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;

  @media (max-width: $tablet-width) {
    padding-bottom: 80px;
  }

  h2 {
    margin: 0;
    margin-bottom: 12px;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  p {
    margin: 0;

    &:nth-child(even) {
      margin-bottom: 20px;
    }

    @media (max-width: $tablet-width) {
      &:nth-child(even) {
        margin-bottom: 17px;
      }
    }

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 19px;

      &:nth-child(n+3) {
        margin-bottom: 14px;
      }
    }
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 100px;

  @media (max-width: $tablet-width) {
    gap: 25px;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.about__image {
  @media (max-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__content-hidden {
  p:nth-child(odd) {
    margin-bottom: 20px;
  }
}

.about__button {
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding: 13px 50px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  color: $color-deep-sky-blue;
  background-color: transparent;


  &:hover,
  &:focus {
    outline: none;
    color: $color-black-pearl;
    box-shadow: 0 0 0 2px $color-black-pearl;
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $mobile-width) {
    padding: 8px 40px;
  }
}

.about__content {
  &.is-active {
    [data-accordion="element-mobile"] {
      display: block;
    }
  }

  &.no-js {
    [data-accordion="element-mobile"] {
      display: block;
    }
  }

  [data-accordion="element-mobile"] {
    padding-bottom: 20px;

    @media (max-width: $tablet-width) {
      padding-bottom: 0;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
