.footer {
  background-color: $color-black-pearl;
}

.footer__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1320px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    padding: 50px 50px 59px;
  }

  @media (max-width: $mobile-width) {
    padding: 35px 0 44px;
  }
}

.footer__item-wrapper {
  @media (max-width: $tablet-width) {
    &:not(:nth-child(n+2)) {
      margin-right: auto;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    &--accordeon {
      border-bottom: 1px solid $color-alice-blue-accent;
      border-top: 1px solid $color-alice-blue-accent;
      padding: 0 25px;
      position: relative;
    }
  }
}
