.footer {
  background-color: $color-black-pearl;
}

.footer__wrapper {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    padding: 50px 50px 59px;
  }

  @media (max-width: $mobile-width) {
    padding: 35px 0 44px;
  }
}

.footer__item-wrapper {
  &:not(:last-child) {
    margin-right: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    &--accordeon {
      border-bottom: 1px solid $color-alice-blue-accent;
      border-top: 1px solid $color-alice-blue-accent;
      padding: 0 25px;
      position: relative;
    }
  }
}
