.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: $pearl-to-bottom;

  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.header__wrapper {
  max-width: 1320px;
  padding: 26px 50px 35px;

  @media (max-width: $tablet-width) {
    padding-top: 3px;
    padding-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
