.promo {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 880px;
  padding-top: 304px;
  background-color: $color-black-pearl;

  font-family: $ff-pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: $color-alice-blue;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (max-width: $tablet-width) {
    min-height: 640px;
    padding-top: 179px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 151px;
    min-height: 560px;
  }
}

.promo__description-wrapper {
  position: relative;
  z-index: 6;
  padding-left: 235px;

  h2 {
    margin: 0;
    margin-bottom: 32px;
    font-family: $ff-roboto-condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-alice-blue;
  }

  h3 {
    margin: 0;
    margin-bottom: 45px;
    font-family: $ff-pt-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
  }

  @media (max-width: $tablet-width) {
    h2 {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 2px;
    }

    h3 {
      margin-bottom: 54px;
    }
  }

  @media (max-width: $mobile-width) {
    br {
      display: none;
    }

    h2 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 7px;
    }

    h3 {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 46px;
    }
  }
}

.promo__button {
  margin-left: 1px;
  padding: 16px 27px 17px;
  border-radius: 3px;
  display: inline-block;
  background-color: $color-deep-sky-blue;

  font-family: $ff-roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: none;
    background-color: $color-black-pearl;
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &::after {
    content: attr(data-promo-desktop);
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 16px;

    &::after {
      content: attr(data-promo-mobile);
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 45px;
  }


  @media (max-width: $mobile-width) {
    margin-left: 0;
    padding: 12px 37px;
  }
}
