.footer {
  background-color: $color-black-pearl;
}

.footer__wrapper {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    padding: 50px 50px 59px;
  }

  @media (max-width: $mobile-width) {
    padding: 35px 0 44px;
  }
}

.footer__item-wrapper {
  &--social {
    display: flex;
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-right: auto;
  }

  @media (max-width: $tablet-width) {
    &--social {
      width: 100%;
      flex-direction: row;
      margin-bottom: 38px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    &--accordeon {
      border-bottom: 1px solid $color-alice-blue-accent;
      border-top: 1px solid $color-alice-blue-accent;
      padding: 0 25px;
      position: relative;
    }

    &--social {
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;
    }
  }
}

.footer__logo-link {
  margin-bottom: 30px;
  border-radius: 3px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-deep-sky-blue;
  }

  &:active {
    box-shadow: none;
    opacity: 1;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: auto;
  }

  @media (max-width: $mobile-width) {
    margin: auto;
    margin-bottom: 10px;
    padding-right: 5px;
  }
}
